<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css')}}">

<html>
    <head>
        {% if titre %}
        <title>{{ titre }} - Petis gazouillis par Gabriel Marrero</title>
        {% else %}
        <title>Bienvenue sur petis gazouillis par Gabriel Marrero!</title>
        {% endif %}
    </head>
    <body>
        <div>Petis Gazouillis: 
            <a href="{{ url_for('index') }}">Acceuil</a>
            <a href="{{ url_for ('etablir_session') }}">Établir une session</a>
        </div>
        <hr>   
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>