
{% extends 'bootstrap/base.html' %}

{% block styles %}
    {{super()}}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css')}}">
{% endblock %}
<!------------------------------------------------------------------------------------>
{% block scripts %}
    {{super()}}
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
    <script>
            //alert("au debut!")
        var socket;
        var utilisateurs_tableau = [];
        var publications_tableau = [];

        function inititliser_websocket(publications_dst)
        {
            if((typeof socket == "undefined") || (!socket.connected))
            {
                socket = io.connect('http://' + document.domain + ':' + location.port + '/chat')
            }
            socket.on('nouvelle_publication', function(data) {
                alert(data.id);

                infos = btoa("Ron:Password1")
                $.ajax({
                    type: 'GET',
                    url: 'http://127.0.0.1:5000/api/jeton',

                    beforeSend : function (xhr){
                        xhr.setRequestHeader('Authorization','Basic' + infos);
                    },
                    success: function(reponse){
                        jeton = reponse.jeton;
                    },
                    error: function(){
                        $(element_dst).text("Erreur de chargement.");
                    },


                });

                requete = `http://127.0.0.1:5000//api/publications/${data.id}`;
                $.ajax({
                    url: requete,
                    type: 'GET',
                    beforeSend: function(xhr){
                        xhr.setRequestHeader('Authorization',`Bearer ${jeton}`);
                    },
                    data: { },
                    success : function(reponse){
                        alert(reponse.corps);
                        id = reponse["id"];
                        if(typeof publications_tableau[id] === 'undefined')
                        {
                            corps = reponse["corps"];
                            id_utilisateur = reponse["id_utilisateur"];
                            
                            auteur = utilisateurs_tableau[id_utilisateur].nom
                            avatar =  utilisateurs_tableau[id_utilisateur].avatar
                            horodatage = reponse["horodatage"];
                            publication_format = `<tr id=tr{id}><td id=id{id}>${id}</td><td id=avatar${id}><img src="${avatar}" width=100px/></td><td id=auteur${id}>${auteur}</td><td id=horodatage${id}>${horodatage}</td><td id=corps${id}>${corps}</td></tr>`;
                            $(publications_dst).append(publication_format)

                    
                        }
                    },
                    error: function(){
                        $(element_dst).text("Erreur de chagement.");
                    },
                });

            });
            socket.on('actualiser', function(data){
                alert(data.bidon);
                alert("ici!")
                afficher_publications('#utilisateurs','#publications',1,999999)
            });
        };

        function afficher_publications(utilisateur_dst,publications_dst,page,par_page)
        {
            utilisateurs_json = { "par_reference":"vide" }
            publications_json = { "par_reference":"vide" }

            alert("afficher_publications début")
            $(utilisateur_dst).empty();
            $(publications_dst).empty();
            jQuery.ajaxSetup({async:false});
            charger('http://127.0.0.1:5000/api/publications',publications_json,page,par_page)
            charger('http://127.0.0.1:5000/api/utilisateurs',utilisateurs_json,page,par_page)

            jQuery.ajaxSetup({async:true});
            alert("afficher_publications fin")

            u = utilisateurs_json.par_reference;
            u.items.forEach(element=>{
                id = element["id"];
                nom = element["nom"];
                avatar = element["avatar"];
                courriel = element["courriel"];
                a_propos_de_moi = element["a_propos_de_moi"];

                partisans = element["partisans"];
                publications = element["publications"];
                utilisateurs_tableau[id] = {id,nom,avatar,courriel,a_propos_de_moi,partisans,publications};

            })

            utilisateurs_tableau.forEach(element=>{
                id = element["id"];
                nom = element["nom"];
                avatar = element["avatar"];
                partisans = element["partisans"];
                avatars_partisans = ""
                partisans.forEach(id_partisans=>{
                    avatars_partisan = utilisateurs_tableau[id_partisans].avatar
                    avatars_partisans = `<img src="${avatars_partisan}" width=50px/>${avatars_partisans}`
                });
                utilisateur_format = `<tr id=tr{id}><td id=id{id}>${id}</td><td id=avatar${id} ><img src="${avatar}" width=100px/></td><td id=nom${id}>${nom}<td>Est partisan de ${avatars_partisans}</td></td></tr>`;
                $(utilisateur_dst).append(utilisateur_format)

            });
//minute 27:14
            p= publications_json.par_reference;
            p.items.reverse().forEach(element=>{
                corps = element["corps"];
                id_utilisateur = element["utilisateur_id"];
                id = element["id"];
                auteur = utilisateurs_tableau[id_utilisateur].nom
                avatar = utilisateurs_tableau[id_utilisateur].avatar
                horodatage = element["horodatage"];

                publications_tableau[id] = {id,id_utilisateur,corps,horodatage};

                publication_format = `<tr id=tr{id}><td id=id{id}>${id}</td><td id=avatar${id}><img src="${avatar}" width=100px/></td><td id=auteur${id}>${auteur}</td><td id=horodatage${id}>${horodatage}</td><td id=corps${id}>${corps}</td></tr>`;

                $(publications_dst).append(publication_format)

                //$("#auteur".id).css("color","red");
            });

            inititliser_websocket(publications_dst);

        }
        var jeton
        function charger(requete, destination, page, par_page)
        {
            infos = btoa("Ron:Password1")
            $.ajax({
                type: 'GET',
                url: "http://127.0.0.1:5000/api/jeton",

                beforeSend: function(xhr){
                    xhr.setRequestHeader('Authorization','Basic '+infos);
                },
                success: function(reponse){
                    jeton = reponse.jeton;
                },
                error: function(){
                    $(element_dst).text("Erreur de chargement.");
                },
            }); //partie d'en haut sert a apbtenir le jeton

            alert("Jeton obtenu: "+ jeton)
            $.ajax({
                url: requete,
                type: 'GET',
                beforeSend: function(xhr){
                    xhr.setRequestHeader('Authorization',`Bearer ${jeton}` );
                },
                data:{page:page,par_page:par_page},
                success: function(reponse){
                    destination.par_reference = reponse;
                },
                error: function(){
                    $(element_dst).text("Erreur de chargement.");
                },
            });
        }

            
    </script> 
 
{% endblock %}
<!------------------------------------------------------------------------------------>
{% block title %}
    {% if titre %}
        <title>{{ titre }} - Petis gazouillis par Gabriel Marrero</title>
        {% else %}
        <title>Bienvenue sur petis gazouillis par Gabriel Marrero!</title>
        {% endif %}
{% endblock %}
<!------------------------------------------------------------------------------------>
{% block navbar %}
    <nav class="navbar navbar-default">
    <div class="container">
    <div class="navbar-header">
        
        <a class="navbar-brand" href="{{ url_for('index') }}">Acceuil</a>
        {% if current_user.is_anonymous %}
            <a class="navbar-brand" href="{{ url_for('etablir_session') }}">Établir une session</a>
        {% else %}
            <a class="navbar-brand"  href="{{ url_for('utilisateur',nom=current_user.nom) }}">Profil</a>
            <a class="navbar-brand"  href="{{ url_for('explorer') }}">Explorer</a>
            <a class="navbar-brand"  href="{{ url_for('logout') }}">Fin de la session</a>
        {% endif %}
        <a class="navbar-brand" href="{{ url_for('websocket')}}">Websocket</a>
     
    </div>
    </div>
    </nav>
{% endblock %}
<!------------------------------------------------------------------------------------>
{% block content %}l
<div class="container">
     Petis gazouillis par Gabriel Marrero
     {% with messages = get_flashed_messages() %}
     {% if messages %}
     <ul>
         {% for message in messages %}
         <li>{{ message }}</li>
         {% endfor %}
     </ul>
     {% endif %}
     {% endwith %}
     {% block app_content %}{% endblock %}
</div>
{% endblock %}


