{% extends "base.html" %}

{% block content %}
        <h1>Bonjour, {{current_user.nom}}! </h1>
        <img src="{{utilisateur.avatar}}">
        <form action ="" method="post">
                {{ formulaire.hidden_tag()}}
                <p>
                        {{ formulaire.publication.label }}<br>
                        {{ formulaire.publication(col=32, rows=4) }}<br>
                        
                        {% for erreur in formulaire.publication.errors %}
                        <span style="color: red;"> [{{erreur }}]</span>
                        {% endfor %}
                </p>
                <p> {{formulaire.soumettre() }}</p>
        </form>

        {% for p in publication %}
                <div><p><img src="{{ p.auteur.avatar }}" width=50 /> {{ p.auteur.nom}} dits: <b>{{p.corps}}</b></p></div>
        {% endfor %}
{% endblock %}
