{% extends "base.html" %}

{% block app_content %}
        <h1>Laboratoire 10 - Websocket</h1>
        <span id="charger">
            <a href="javascript:afficher_publications('#utilisateurs','#publications',1,999999);">Charger</a>
        </span>
        <h2>Laboratoire 10 - Tous les utilisateurs</h2>
        <table class="table table-tripped" id="utilisateurs" width=100%/></table>
        <h2>Laboratoire 10 - Toutes les publications</h2>
        <table class="table table-tripped" id="publications" width=100%/></table>

{% endblock %}